[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.0.3"
gunicorn = "==20.1.0"
itsdangerous = "==2.0.1"
redis = "==4.4.0"
Flask = "==2.0.2"
Jinja2 = "==3.0.2"
MarkupSafe = "==2.0.1"
Werkzeug = "==2.0.2"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
